$ro: "Roboto", sans-serif;

$while: #fff;
$black: #000;
$green: #00C805;
$light__green: #C3F53C;
$grey: #6F787E;


$web: 1440px;
$text: 18px;



body{
  background: $while;
  font-family: $ro;
  font-size: $text;
  color: $black;
}


