nav{
  display: flex;
  max-width: $web;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.nav__one{
  display: flex;
  align-items: center;
}

.logo{
  margin: 0 24px;
  a{
    height: 35px;
    width: 143px;
    display: block;
    svg{
      width: 143px;
    }
  }
}

.top__menu{
  display: flex;
  align-items: center;
  li{
    margin: 0 24px;
    display: block;
  }
}

.element{
  display: flex;
  align-items: center;
  a{
    display: inline-block;
    font-size: 18px;
    color: $black;
    &:hover{
      font-weight: bold;
      font-size: 19px;
      transition: all 0.3s ease;
    }
  }
  svg{
    width: 12px;
    height: 12px;
    margin-left: 12px;
  }
}

.sub__menu{
  position: absolute;
  background-color: $green;
  border-radius: 5px;
  margin: 10px 0;
  z-index: 5;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
  li{
    position: relative;
    margin: 0;
    padding: 10px;
    a{
      color: $black;
      &:hover{
        font-weight: bold;
        font-size: 19px;
        transition: all 0.3s ease;
      }
    }
  }
}

.top__menu li:hover >  .sub__menu{
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
}

.nav__two{
  display: flex;
  align-items: center;
  .log__in{
    font-size: 18px;
    font-weight: bold;
    color: $black;
    &:hover{
      color: $green;
      font-size: 20px;
      transition: all 0.3s ease;
    }
  }
  .sign__up{
     font-size: 17px;
     font-weight: bold;
     color: $black;
     padding: 10px 40px;
     background-color: $green;
     border: 1px solid $green;
     border-radius: 24px;
     margin: 8px 24px 8px 18px;
     transition: all 0.3s ease;
     &:hover{
      background-color: transparent;
      border: 1px solid $green;
     }
  }
}

.home__info{
  background-color: $light__green;
}

.info{
  max-width: $web;
  margin: auto;
  display: flex;
}

.info__one{
  h3{
    width: 300px;
    height: 120px;
    font-weight: 700;
    font-size: 46px;
    margin: 94px 0 0  117px
  }
  h6{
    width: 486px;
    height: 144px;
    font-weight: 700;
    font-size: 24px;
    margin: 31px 0 19px 117px;
  }
  .button{
    width: 144px;
    margin-left: 117px;
    a{
      padding: 10px 40px;
      background-color: $black;
      border-radius: 24px;
      color: $while;
      font-size: 17px;
      font-weight: bold;
      border: 1px solid black;
      transition: all 0.5s ease;
      &:hover{
        background-color: transparent;
        border-color: $black;
        color: $black;
      }
    }
  }
  .investment{
    display: flex;
    align-items:center; 
    margin: 40px 0 0 117px;

    svg{
      width: 28px;
      height: 28px;
    }
    h6{
      width: 325px;
      padding: 5px 0;
      height: 28px;
      font-weight: 400;
      font-size: 18px;
      align-items: center;
      margin: 0 0 0 12px;
    }
  }
}

.info__two{
  margin: 30px 117px 20px 18px;
}